@model ProductDto
<form method="post">
    <input asp-for="ProductId" hidden />
    <div class="container mt-5">
        <div class="row">
            <!-- Product Image -->
            <div class="col-md-6" >
                <a href="@Model.ImageUrl" class="glightbox">
                    <img src="@Model.ImageUrl" class="product-img" alt="Product Image">
                </a>
            </div>

            <!-- Product Details -->
            <div class="col-md-6">
                
                <h4 class="mt-2">@Model.Name</h4>
                <p class="text-muted">Category: <strong>@Model.CategoryName</strong></p>
                <p class="ingredients"><strong>Description:</strong>@Html.Raw(Model.Description)</p>
                <p class="price text-danger fw-bold">@Model.Price.ToString("C")</p>
                
                <div class="row mx-0">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
                
                @* <div>
                    <span class="rating">&#9733;&#9733;&#9733;&#9733;&#9734;</span> (4.0/5.0)
                </div> *@
                <button class="btn btn-outline-secondary mt-3" asp-action="Index">Back to List</button>
                <button class="btn btn-primary mt-3" asp-action="#">Buy Now</button>
                <button type="submit" class="btn btn btn-success mt-3">Add to Cart</button>
            </div>
        </div>

        <!-- Reviews Section -->
        <div class="mt-5">
            <h3>Customer Reviews</h3>
            <div class="border p-3 mt-3">
                <p><strong>John Doe</strong></p>
                <span class="rating">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <p>Great product, totally worth it!</p>
            </div>
            <div class="border p-3 mt-3">
                <p><strong>Jane Smith</strong></p>
                <span class="rating">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                <p>Absolutely love this product. Highly recommended!</p>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
